*{
    margin: 0px;
    padding: 0px;
}
div.slider{
    background-color: #0794e8;
    height: 400px;
    position: relative;
}
div.content{
    position: absolute;
    color: white;
    top: 50%;
    transform: translate(30px,-50%);
}
h1{
    margin-bottom: 25px;
}
div.dots{
    position: absolute;
    width: 100px;
    bottom: 10px;
    left: 50%;
    text-align: center;

}
span.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
}
span.active{
    background-color: yellow;
}