body {
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 10px 0px;
    text-align: center;
    background-color: #fff;
}

nav ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-right: 34px;
}

nav ul li a {
    color: #1D1D24;
    text-decoration: none;

}

nav ul li:hover a {
    text-decoration: underline solid #0d99ff;
    color: #000;

}

nav ul li button.btn-contact {
    border: 2px solid #1D1D24;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 26px;
    background-color: #fff;

}

section.hero {
    background-color: #F8F9FC;
    padding: 150px 0px;
    text-align: center;
}

img.avatar {
    height: 400px;
    width: 400px;
    border: 14px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
}
img.avatar:hover{
    transform: scale(1.2);
}

div.info {
    display: inline-block;
    margin-left: 34px;
    text-align: left;
    vertical-align: middle;

}

section div span {
    font-size: 16px;
    font-weight: 400;
}

h1.title {
    font-size: 58px;
    font-weight: 700;

}

section div h1 span {
    font-size: 58px;
    font-weight: 700;
    color: #F9004D;

}

div h2 {
    font-size: 58px;
    font-weight: 700;
}

section.portfolio {
    padding: 120px var(--padding-porfolio);
    font-size: 0px;

}

section.portfolio h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;

}

div.card {
    display: inline-block;
    width: calc((100% - var(--margin-card) * 2) / 3);
    margin-bottom: 60px;
    text-align: center;
    vertical-align: top;
    transition: margin 700ms;
}

div.card:nth-child(3n+3) {
    margin: 0px var(--margin-card);

}
div.card:hover {
    margin-top: -10px;
}
div.card:nth-last-child(-n+3) {
    margin-bottom: 0px;
}
section.portfolio img {
    width: 100%;
    margin-bottom: 26px;
}

span.category {
    font-size: 16px;
    margin-bottom: 2px;
}

h3.name {
    font-size: 20px;
}

footer p {
    background-color: #00010C;
    color: #C6C9D8;
    font-size: 16px;
    font-weight: 400;
    padding: 31px 0px;
    text-align: center;
}
